@import url('https://overpass-30e2.kxcdn.com/overpass.css');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

* {
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
    font-family: 'Overpass', sans-serif;
}

h1,
h2 {
    font-weight: 900 !important;
}

.lucide-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Custom animations */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}